/* body {
    background-color: #f4f6f5;
    color: #5f6a7d;
    font-family: 'Roboto', sans-serif;
}
body p {
    font-size: 14px;
    line-height: 22px;
}
.MuiInputBase-input {
    height: 46px !important;
    padding: 11px 16px !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    font-size: 14px !important;
    line-height: 1.3 !important;
    color: #5f6a7d !important;
    box-sizing: border-box !important;
}
.MuiFormLabel-root.Mui-focused {
      color : #029ba7 !important;
}
.MuiInputBase-input::placeholder {
    color : red !important;
}
.MuiInput-underline:before,.MuiInput-underline:after {
    border-bottom: 0 !important;
}

.title {
    text-align: left;
}

.logo {
    display: block;
    margin: 0 auto 40px 0;
    text-align: center;
}

.MuiInputBase-input:focus {
    border: 1px solid #029ba7 !important;
}
.text-link {
    display: block;
    text-align: center;
}
.text-link a {
    font-size: 12px;
    color: #029ba7;
    text-decoration: none;
}
 */
